 .u-section-1 {
  background-image: none;
  min-height: 1256px;
}

.u-section-1 .u-video-1 {
  width: 961px;
  height: 541px;
  margin: 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-image-1 {
  width: 243px;
  height: 243px;
  margin: 53px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 243px;
  height: 243px;
  margin: -243px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: -162px auto 0;
}

.u-section-1 .u-image-3 {
  width: 243px;
  height: 243px;
  margin: 126px auto 0;
}

.u-section-1 .u-image-4 {
  width: 243px;
  height: 243px;
  margin: -243px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-5 {
  width: 243px;
  height: 243px;
  margin: -243px calc(((100% - 1140px) / 2)) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1244px;
  }

  .u-section-1 .u-video-1 {
    width: 940px;
    height: 529px;
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1132px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 412px;
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1029px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 309px;
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 906px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 0;
  }
}