
a{display: flex;}


input
{
    font-size: 40px; border-radius: 10px;;

}


body {
  margin-left: 50px;
    margin: 30px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    line-height: 1.5;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: 40px;
    text-align:left ; 
  }


label
{
    color: rgb(0, 0, 0)
}
  
button
{
font-size: 40px; border-radius: 0px; color: rgb(0, 0, 0); transition-duration: 0.5s; width: 435px; color: rgb(0, 0, 0); 
text-align: center;}



button:hover {
  background-color: #000000; 
  color: rgb(255, 255, 255);
}



.submit
{color: rgb(255, 255, 255);}

















