.u-section-1 .u-sheet-1 {
  min-height: 1016px;
}

.u-section-1 .u-text-1 {
  width: 174px;
  margin: 166px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 38px auto 0;
  padding: 51px 99px 51px 98px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 80px auto 60px;
  padding: 10px 90px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 206px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 28px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 198px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 14px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 118px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 79px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 22px;
    padding: 6px 30px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-1 .u-text-1 {
    width: 144px;
    margin-top: 298px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 52px 10px 51px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 18px;
    padding-left: 25px;
    padding-right: 25px;
  }
}