.u-section-1 .u-sheet-1 {
  min-height: 1152px;
}

.u-section-1 .u-text-1 {
  width: 174px;
  margin: 93px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 44px auto 0;
  padding: 51px 99px 51px 98px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  width: 425px;
  margin: 139px auto 0;
}

.u-section-1 .u-image-1 {
  width: 305px;
  min-height: 305px;
  background-image: url("images/qrcode.png");
  margin: 67px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 102px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 74px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 140px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 93px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 120px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 144px;
    margin-top: 79px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 83px;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    padding: 10px 52px 10px 51px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 83px;
  }

  .u-section-1 .u-image-1 {
    min-height: 307px;
    margin-top: 91px;
  }
}